<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.danleyb2.kamari">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">

        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:theme="@style/NoActionBar.FullScreen"
            android:name=".SinglePlayer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<meta-data-->
            <!--android:name="io.fabric.ApiKey"-->
            <!--android:value="cf8488e9f987671a84191b6f482c853b4874bac1" />-->
    </application>

</manifest>